/* Header */
.eth__header {
  flex: 1;
}
.eth__header-title {
  margin: 10px 0;
}
.eth__header-subtitle {
  text-align: right;
  margin-right: 20px;
}
.eth__header-subtitle p {
  color: #fff;
  font-weight: 400;
}

.eth__header-account,
.eth__header-account_wallet {
  display: flex;
  flex-direction: column;
}
.eth__header-account_wallet {
  padding: 10px 0;
  margin-top: 100px;
  color: #fff;
  border-bottom: 2px dashed #fff;
}
.eth__header-account_wallet-title {
  font-size: 20px;
}
.eth__header-account_wallet-code {
  font-weight: 100;
}

.eth__header-account_create {
  margin: 60px 0 20px 0;
}
.eth__header-account_create-title {
  margin: 15px;
}
.eth__header-account_create-title h3 {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-weight: 400;
}

@media screen and (max-width: 475px) {
  .eth__header-account_wallet-code {
    position: relative;
    left: -2%;
  }
}
@media screen and (max-width: 431px) {
  .eth__header-account_wallet-code {
    position: relative;
    left: -2%;
  }
}
@media screen and (max-width: 400px) {
  .eth__header-account_wallet-code {
    position: relative;
    left: -5%;
    font-size: 14px;
  }
}
